<div class="container">
  <h1>Register New Profile</h1>
  <form class="add form-group" action="/addUser" method="POST">
    <input class="form-control" type="text" name="username" value="" placeholder="Username" required>
    <input class="form-control" type="password" name="password" value="" placeholder="Password" required>
    <input class="form-control" type="text" name="name" value="" placeholder="Name" required>
    <input class="form-control" type="url" name="avatar" value="" placeholder="Avatar URL" required>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
