<div class="col-md-6" id="snippet">
  <h2>Snippet: {{name}}</h2>
  <p>{{snippet}}</p>
  <p>Notes: {{notes}}</p>
  <p>Language: {{language}}</p>
  <p>Tags:
    {{#tags}}
      {{tags}} </p>
    {{/tags}}
    {{^tags}}
    No tags added. </p>
    {{/tags}}
</div>
