<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    {{#users}}
      {{>_userdetail}}
    {{/users}}
    {{^users}}
      <p>No one here.</p>
    {{/users}}
    <a href="/login"><button class="btn btn-default btn-lg" type="button" name="button">Log in</button></a>
  </body>
</html>
